
.site-header {
  margin: 0 auto;
  max-width: 75rem;
  width: 100%;
  .top-bar {
    background-color:var(--global-font-color); ;
    border-bottom: 1px solid #e5e5e5;
    .site-branding {
      padding-bottom: 1rem;
      padding-top: 1rem;
      .site-title {
        font-family: var(--highlight-font-family);
        font-size: 36px;
        font-weight: bold;
        line-height: 1.2;
        color:var(--global-light-background);
      }
      .site-description {
        display: none;
      }
    }

  }
}

.header-image {
  margin: 0 auto;
}

.header-image img {
  display: block;
  margin: 0 auto;
}

.custom-logo-link {
  display: inline-block;
  margin: 0 auto 1em;
}

.site-title a {
  text-decoration: none;
  color: inherit;
}

